body {
    background: #1E1E1E;
}

.Desktop {
    position: relative;
    width: 1440px;
    height: 980px;
    background: #0E1014;
}

.headerD {
    position: absolute;
    width: 1140px;
    height: 73px;
    left: 150px;
    top: 46px;
}

.footerDesktop {
    position: absolute;
    width: 1141px;
    height: 315px;
    left: 149px;
    bottom: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #E4E5EA;
}

.menu {
    font-family: 'Inter';
    font-style: normal;
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: 503px;
    height: 19px;
    left: 192px;
    top: 15px;
    text-decoration: none;
    color: #E4E5EA;
}

.menu a{
    text-decoration: none;
    color: #E4E5EA;
}

.service {
    position: absolute;
    width: 54px;
    height: 19px;
    left: 0px;
    top: 0px;
}

.widget {
    position: absolute;
    width: 74px;
    height: 19px;
    left: 84px;
    top: 0px;
}

.integration {
    position: absolute;
    width: 95px;
    height: 19px;
    left: 188px;
    top: 0px;
}

.case {
    position: absolute;
    width: 51px;
    height: 19px;
    left: 313px;
    top: 0px;
}

.certificate {
    position: absolute;
    width: 109px;
    height: 19px;
    left: 394px;
    top: 0px;
}

.logo_velbex {
    position: absolute;
    width: 140px;
    height: 24px;
    left: 0px;
    top: 11px;
}

.part1 {
    position: absolute;
    width: 35px;
    height: 24px;
    left: 0px;
    top: 0px;
}

.vector1 {
    position: absolute;
    left: 0%;
    right: -0.15%;
    top: 0%;
    bottom: 0%;
}

.part2 {
    position: absolute;
    width: 97px;
    height: 15px;
    left: 43px;
    top: 5px;
}

.vector2 {
    position: absolute;
    left: 0.17%;
    right: 0.99%;
    top: 0%;
    bottom: 5.74%;
}

.logo_text {
    position: absolute;
    width: 165px;
    height: 24px;
    left: 0px;
    top: 45px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;

    color: #E4E5EA;
}

.number {
    position: absolute;
    width: 143px;
    height: 19px;
    left: 832px;
    top: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;

    color: #E4E5EA;
}

.telegram {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1022px;
    top: 14px;
}

.teleg {
    position: absolute;
    left: 8.33%;
    right: 8.27%;
    top: 15.03%;
    bottom: 15.03%;
}

.viber {
    position: absolute;
    width: 20px;
    height: 19px;
    left: 1072px;
    top: 14px;
}

.vib {
    position: absolute;
    width: 16px;
    height: 15.2px;
    left: 2px;
    top: 2px;
}

.whatsapp {
    position: absolute;
    width: 20px;
    height: 59px;
    left: 1122px;
    top: 13px;
}

.whats {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
}

.head {
    position: absolute;
    width: 362px;
    height: 116px;
    left: 147px;
    top: 209px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #E4E5EA;
}

.welbex {
    position: absolute;
    width: 247px;
    height: 58px;
    left: 147px;
    top: 325px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */


    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contrl {
    position: absolute;
    width: 275px;
    height: 44px;
    left: 148px;
    top: 413px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #E4E5EA;
}

.freeCons {
    position: absolute;
    width: 291px;
    height: 44px;
    left: 999px;
    top: 224px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;

    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%),
linear-gradient(0deg, #E4E5EA, #E4E5EA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: tex
}

.rgbfree {
    text-transform: uppercase;
    letter-spacing: 1px;
    /*background: linear-gradient(90deg, #fd8d2f, #FD1D1D),
        linear-gradient(0deg, #E4E5EA, #E4E5EA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */
}

.only {
    /* text-transform: uppercase; */
    /* letter-spacing: 1.2px; */
    background:linear-gradient(0deg, #E4E5EA, #E4E5EA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.mainwidget {
    position: absolute;
    width: 101px;
    height: 22px;
    left: 1024px;
    top: 308px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #E4E5EA;
}

.textWidget {
    position: absolute;
    width: 89px;
    height: 40px;
    left: 1036px;
    top: 336px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #E4E5EA;
}

.mainDashbord {
    position: absolute;
    width: 120px;
    height: 22px;
    left: 1171px;
    top: 308px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #E4E5EA;
}

.textDashbord {
    position: absolute;
    width: 135px;
    height: 40px;
    left: 1156px;
    top: 336px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #E4E5EA;
}

.mainSkype {
    position: absolute;
    width: 134px;
    height: 22px;
    left: 992px;
    top: 406px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    text-align: right;
    white-space: nowrap;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #E4E5EA;
}

.textSkype {
    position: absolute;
    width: 164px;
    height: 40px;
    left: 961px;
    top: 434px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    color: #E4E5EA;
}

.mainuseday {
    position: absolute;
    width: 85px;
    height: 22px;
    left: 1206px;
    top: 406px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    text-align: right;
    white-space: nowrap;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #E4E5EA;
}

.textuseday {
    position: absolute;
    width: 130px;
    height: 40px;
    left: 1161px;
    top: 434px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    color: #E4E5EA;
}

.mainButton {
    position: absolute;
    width: 262px;
    height: 61px;
    left: 1028px;
    top: 535px;

    background: #4077F3;
}

.textMainButton {
    position: absolute;
    width: 193px;
    height: 19px;
    left: 35px;
    top: 21px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #E4E5EA;
}

.blockMenu a{
    text-decoration: none;

    color: #E4E5EA;
}

.blockCompany a{
    text-decoration: none;

    color: #E4E5EA;
}

.companyText {
    position: absolute;
    width: 106px;
    height: 17px;
    left: 0px;
    top: 55px;

    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #656566;
}

.companyPartnerProg {
    position: absolute;
    width: 195px;
    height: 19px;
    left: 0px;
    top: 92px;
    text-decoration: none;

    color: #E4E5EA;
}

.companyJobs {
    position: absolute;
    width: 75px;
    height: 19px;
    left: 0px;
    top: 121px;
}

.menuText {
    position: absolute;
    width: 49px;
    height: 17px;
    left: 293px;
    top: 55px;

    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #656566;
}

.menuCalcCost {
    position: absolute;
    width: 144px;
    height: 19px;
    left: 293px;
    top: 92px;
}

.menuServices {
    position: absolute;
    width: 53px;
    height: 19px;
    left: 293px;
    top: 121px;
}

.menuWidget {
    position: absolute;
    width: 73px;
    height: 19px;
    left: 293px;
    top: 150px;
}

.menuIntegration {
    position: absolute;
    width: 94px;
    height: 19px;
    left: 293px;
    top: 179px;
}

.menuClients {
    position: absolute;
    width: 115px;
    height: 19px;
    left: 293px;
    top: 208px;
}

.menuCase {
    position: absolute;
    width: 50px;
    height: 19px;
    left: 489px;
    top: 92px;
}

.menuLetter {
    position: absolute;
    width: 212px;
    height: 19px;
    left: 489px;
    top: 121px;
}

.menuCertificate {
    position: absolute;
    width: 107px;
    height: 19px;
    left: 489px;
    top: 150px;
}

.menuYoutube {
    position: absolute;
    width: 127px;
    height: 19px;
    left: 489px;
    top: 179px;
}

.menuQuestionsAnswers {
    position: absolute;
    width: 120px;
    height: 19px;
    left: 489px;
    top: 208px;
}

.contactsText {
    position: absolute;
    width: 86px;
    height: 17px;
    left: 1055px;
    top: 55px;

    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #656566;
}

.contactsNumber {
    position: absolute;
    width: 143px;
    height: 19px;
    left: 998px;
    top: 92px;

    font-weight: 500;
    text-align: right;
}

.messenTelegram {
    position: absolute;
    left: 1061px;
    top: 132px;
    width: 20px;
    height: 20px;
}

.messenViber {
    position: absolute;
    width: 20px;
    height: 19px;
    top: 132px;
    left: 1091px;
}

.messenWhatsapp {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 131px;
    left: 1121px;
}

.contactsAddress {
    position: absolute;
    width: 277px;
    height: 19px;
    left: 864px;
    top: 171px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    text-decoration: none;

    color: #E4E5EA;
}

.blockConfidentiality {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    text-align: right;
}

.confCopyright {
    position: absolute;
    width: 239px;
    height: 15px;
    left: 902px;
    top: 260px;
}

.confPolitics {
    position: absolute;
    width: 202px;
    height: 15px;
    left: 939px;
    top: 280px;
    color: #E4E5EA;
}

.purpleBalls img{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 868px;
    top: 0px;
}

.light img{
    position: absolute;
    width: 259px;
    height: 259px;
    left: 602px;
    top: -154px;
}

.redBall img{
    position: absolute;
    width: 83px;
    height: 83px;
    left: 519px;
    top: 83px;
}
.redligthBall img{
    position: absolute;
    width: 311px;
    height: 311px;
    left: -102px;
    top: 251px;
    background: #961A1A;
    opacity: 0.5;
    filter: blur(196px);
}

.redsmallBall img{
    position: absolute;
    width: 28px;
    height: 28px;
    left: 851px;
    top: 547px;
}