body{
    position: relative;
    width: 320px;
    height: 1115px;
    /* left: 1558px;
    top: -980px; */
    background: #0E1014;
}

.MobileFixed{
    position: absolute;
    width: 320px;
    height: 55px;
    left: 0px;
    top: 0px;
}
.MobileFixed span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;

    color: #E4E5EA;
}

.fixedRectangle{
    position: absolute;
    width: 320px;
    height: 55px;
    left: 0px;
    top: 0px;
    background: #0E1014;
}

.fixedService{
    position: absolute;
    width: 49px;
    height: 15px;
    left: 16px;
    top: 20px;
}

.fixedCase{
    position: absolute;
    width: 44px;
    height: 15px;
    left: 260px;
    top: 20px;
}

.fixedIntegration{
    position: absolute;
    width: 83px;
    height: 15px;
    left: 161px;
    top: 20px;
}

.fixedWidget {
    position: absolute;
    width: 64px;
    height: 15px;
    left: 81px;
    top: 20px;
}

.headerTop{
    position: absolute;
    width: 288px;
    height: 24px;
    left: 16px;
    top: -22px;
}

.topViber{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 220px;
    top: 0px;


}

/* .material-symbols-outlined {
    position: absolute;
    width: 20px;
    height: 19px;
    left: 2px;
    top: 2px;
        
    animation-timing-function: ease-out;
    animation-duration: 100ms;

    color: #E4E5EA;
    background: transparent;
} */
main {
    position: absolute;
    width: 320px;
    height: 451px;
    left: 0px;
    top: 55px;
}

.bigText{
    position: absolute;
width: 272px;
height: 88px;
left: 14px;
top: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

/* light text */

color: #E4E5EA;
}

.welbex{
    position: absolute;
    width: 186px;
    height: 44px;
    left: 15px;
    top: 128px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;

    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contrl{
    position: absolute;
    width: 271px;
    height: 44px;
    left: 14px;
    top: 187px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #E4E5EA;
}

.freeCons{
    position: absolute;
    width: 272px;
    height: 44px;
    left: 15px;
    top: 276px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%),
    linear-gradient(0deg, #E4E5EA, #E4E5EA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.freeCons span{
    background:linear-gradient(0deg, #E4E5EA, #E4E5EA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.Frame102{
    position: absolute;
    width: 114px;
    height: 16px;
    left: 16px;
    top: 340px;
}

.line9{
    position: absolute;
    width: 10px;
    height: 1px;
    left: 0px;
    top: 6px;
    border: 1px solid;
    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
}

.skypeAudit{
    position: absolute;
    width: 99px;
    height: 16px;
    left: 15px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    letter-spacing: 0.05em;
    text-transform: uppercase;
    white-space: nowrap;

    color: #E4E5EA;
}

.Frame103{
    position: absolute;
    width: 109px;
    height: 16px;
    left: 16px;
    top: 370px; 
}

/* .line8{
    position: absolute;
    width: 10px;
    height: 1px;
    left: 0px;
    top: 6px;
} */